@import "../../bower_components/bootstrap/less/bootstrap";
@import "../../bower_components/toastr/toastr";
@import "font-awesome/css/font-awesome.min.css";
@import "angular-bootstrap-datetimepicker/src/css/datetimepicker.css";

// Load Bootstrap fonts from this directory.
@icon-font-path: "bootstrap/fonts/";

body {
  padding-top: 70px;
}

input.ng-invalid {
    border-color: @brand-danger;
    outline-color: @brand-danger;
}

.ng-invalid .form-control {
    border-color: @brand-danger;
    outline-color: @brand-danger;
}

a {
    cursor:pointer;
}

.table-cats {
    min-width: 470px
}

a.accordion-toggle {
    text-decoration: none;
}

.choose-location {
    position: relative;

    .form-control {
        width: 50%;
        //width: 150px;
        @media (min-width:@screen-xs) {
            width: 70%;
            //width: 250px;
        }
    }

    .angular-google-map-container {
        border: 1px solid #ccc;
        height: 300px;

        .window-content {
            text-wrap: normal;
        }
    }
}

.pac-container {
    z-index: 2000;
}

.ng-invalid > .choose-location .angular-google-map-container {
    border-color: @brand-danger;
}