@import "../../bower_components/bootstrap/less/bootstrap";
@import "../../bower_components/toastr/toastr";
@import "font-awesome/css/font-awesome.min.css";
@import "angular-bootstrap-datetimepicker/src/css/datetimepicker.css";
@import "directives.less"; 

// Load Bootstrap fonts from this directory.
@icon-font-path: "bootstrap/fonts/";

body {
  padding-top: 70px;
}

input.ng-invalid {
    border-color: @brand-danger;
    outline-color: @brand-danger;
}

a {
    cursor:pointer;
}

.table-cats {
    min-width: 470px
}

a.accordion-toggle {
    text-decoration: none;
}

.pac-container {
    z-index: 2000;
}

