<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmare Cerere</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="editForm">
            <div class="row">
                <div class="col-lg-6">
                    <accordion ng-init="prevDetailsOpen = false">
                        <accordion-group heading="Dynamic Body Content" is-open="prevDetailsOpen">
                            <accordion-heading>
                                <div tooltip="Faceti click in cazul in care doriti sa modificati informatiile introduse in cererea initiala">
                                    {{request.reporter_name + ' (' + request.email + ')'}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': prevDetailsOpen, 'glyphicon-chevron-right': !prevDetailsOpen}"></i>
                                </div>
                            </accordion-heading>
                            <div ng-include="'views/requests/_templates/contact.html'">
                            </div>
                        </accordion-group>
                    </accordion>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Numar pisici</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.cats_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Pisici confirmate</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.confirmed_cats_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Numar custi</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.cage_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Custi capcana</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.trap_cage_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Data/Ora</label>
                        <div class="col-sm-8">
                            <datetime-input ng-model="request.request_date" ng-required="true"></datetime-input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8  col-sm-offset-4 checkbox">
                            <label>
                                <input type="checkbox" ng-model="request.reporter_can_transport">Pot oferi transport
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8  col-sm-offset-4 checkbox">
                            <label>
                                <input type="checkbox" ng-model="request.reporter_can_acomodate">Pot oferi acomodare
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-lg-offset-0 col-sm-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Locatie</h3>
                        </div>
                        <div class="panel-body">
                            <location-input ng-model="request.location" ng-required="true"></location-input>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Poze</h3>
                        </div>
                        <div class="panel-body">
                            <pictures-input ng-model="request.pictures"></pictures-input>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Despre Pisici</h3>
                        </div>
                        <div class="panel-body" ng-include="'views/requests/_templates/cats.html'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-lg-offset-3 col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="updateRequest()">Confirma Cerere</button>
                </div>
            </div>
        </form>
    </div>
</div>
