<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cerere Noua</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="editForm">
            <div class="row">
                <div class="col-lg-6">
                    <div ng-include="'views/requests/_templates/contact.html'">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Numar pisici</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.cats_no" min="1" max="100">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-0 col-sm-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Locatie</h3>
                        </div>
                        <div class="panel-body">
                            <location-input ng-model="request.location" ng-required="true"></location-input>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Poze</h3>
                        </div>
                        <div class="panel-body">
                            <pictures-input ng-model="request.pictures"></pictures-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-lg-offset-3 col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="createRequest()">Trimite Cerere</button>
                </div>
            </div>
        </form>
    </div>
</div>
