<div class="dropdown datetime-input" dropdown is-open="status.open">
    <div class="input-group">
        <a class="form-control dropdown-toggle" dropdown-toggle>{{ ngModel | amDateFormat:'DD MMMM, YYYY HH:mm' }}</a>
        <span class="input-group-addon">
            <a ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></a>&nbsp;&nbsp;
            <a ng-click="clear($event)"><i class="glyphicon glyphicon glyphicon-erase"></i></a>
        </span>
    </div>
    <ul class="dropdown-menu">
        <datetimepicker ng-model="ngModel" on-set-time="status.open = false" />
    </ul>
</div>
