<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-controls="navbar">
                <span class="sr-only">Deschide meniu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NUCA</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': getCurrentPath() == '/'}"><a href="/#/" ng-click="navCollapsed = true">Acasa</a></li>
                <li ng-class="{'active': getCurrentPath() == '/cerere_noua'}"><a href="/#/cerere_noua" ng-click="navCollapsed = true">Cerere Noua</a></li>
                <li class="active" ng-if="getCurrentPath().indexOf('/confirmare_cerere') != -1"><a>Confirmare Cerere</a></li>
                <li class="dropdown" dropdown ng-if="isAdmin">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>Administrare <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#/gestiune_cazari">Gestiune Cazari</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>