<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmare Cerere</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="editForm">
            <div class="row">
                <div class="col-lg-6">
                    <accordion ng-init="prevDetailsOpen = false">
                        <accordion-group heading="Dynamic Body Content" is-open="prevDetailsOpen">
                            <accordion-heading>
                                <div tooltip="Faceti click in cazul in care doriti sa modificati informatiile introduse in cererea initiala">
                                    {{request.reporter_name + ' (' + request.email + ')'}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': prevDetailsOpen, 'glyphicon-chevron-right': !prevDetailsOpen}"></i>
                                </div>
                            </accordion-heading>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Nume</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="request.reporter_name" placeholder="Nume si prenume">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" ng-model="request.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Telefon</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control" ng-model="request.reporter_phone" ng-required="true" ui-mask="(999) 999-9999">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8  col-sm-offset-4 checkbox">
                                    <label tooltip="In cazul in care nu puteti captura pisicile introduceti mai jos contactul persoanei care le cunoaste mai bine">
                                        <input type="checkbox" ng-model="request.reporter_cannot_capture">Nu le pot captura
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" ng-show="request.reporter_cannot_capture">
                                <label class="control-label col-sm-4">Nume intermediar</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="request.intermediate_name" placeholder="Nume si prenume" ng-required="request.reporter_cannot_capture">
                                </div>
                            </div>
                            <div class="form-group" ng-show="request.reporter_cannot_capture">
                                <label class="control-label col-sm-4">Telefon intermediar</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control" ng-model="request.intermediate_phone" ui-mask="(999) 999-9999" ng-required="request.reporter_cannot_capture">
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Numar pisici</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.cats_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Pisici confirmate</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.confirmed_cats_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Numar custi</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.cage_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Custi capcana</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="request.trap_cage_no" min="1" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Data/Timp</label>
                        <div class="col-sm-8">
                            <div class="dropdown" dropdown is-open="request_date_open">
                                <a class="dropdown-toggle" dropdown-toggle>
                                    <div class="input-group">
                                        <span class="form-control">{{ request.request_date | amDateFormat:'DD MMMM, YYYY HH:mm' }}</span><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <datetimepicker ng-model="request.request_date" on-set-time="request_date_open = false" />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8  col-sm-offset-4 checkbox">
                            <label>
                                <input type="checkbox" ng-model="request.reporter_can_transport">Pot oferi transport
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8  col-sm-offset-4 checkbox">
                            <label>
                                <input type="checkbox" ng-model="request.reporter_can_acomodate">Pot oferi acomodare
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-lg-offset-0 col-sm-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Locatie</h3>
                        </div>
                        <div class="panel-body">
                            <location-input ng-model="request.location" ng-required="true"></location-input>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Poze</h3>
                        </div>
                        <div class="panel-body">
                            <pictures-input ng-model="request.pictures"></pictures-input>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Despre Pisici</h3>
                        </div>
                        <div class="panel-body" ng-include="'views/sterilization_req/_templates/cats.html'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-lg-offset-3 col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="updateRequest()">Confirma Cerere</button>
                </div>
            </div>
        </form>
    </div>
</div>
