<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmare Cerere</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="editForm">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Nume</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="sterilizationReq.reporter_name" ng-readonly="true" placeholder="Nume si prenume">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" ng-model="sterilizationReq.email" ng-readonly="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Numar telefon</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" ng-model="sterilizationReq.reporter_phone" ng-required="true" ui-mask="(999) 999-9999">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9  col-sm-offset-3 checkbox">
                            <label tooltip="In cazul in care nu puteti captura pisicile introduceti mai jos contactul persoanei care le cunoaste mai bine">
                                <input type="checkbox" ng-model="sterilizationReq.reporter_cannot_capture">Nu le pot captura
                            </label>
                        </div>
                    </div>
                    <div class="form-group" collapse="!sterilizationReq.reporter_cannot_capture">
                        <label class="control-label col-sm-3">Nume intermediar</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="sterilizationReq.intermediate_name" placeholder="Nume si prenume" ng-required="sterilizationReq.reporter_cannot_capture">
                        </div>
                    </div>
                    <div class="form-group" collapse="!sterilizationReq.reporter_cannot_capture">
                        <label class="control-label col-sm-3">Numar telefon intermediar</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" ng-model="sterilizationReq.intermediate_phone" ui-mask="(999) 999-9999" ng-required="sterilizationReq.reporter_cannot_capture">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Locatie</label>
                        <div class="col-sm-9">
                            <location-input ng-model="sterilizationReq.location" ng-required="true"></location-input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-0 col-sm-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Despre Pisici</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-striped table-cats">
                                    <thead>
                                        <tr>
                                            <th>Sex</th>
                                            <th>Varsta</th>
                                            <th>Culoare</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cat in sterilizationReq.cats">
                                            <td class="col-xs-3">
                                                <select ng-model="cat.gender" class="form-control" ng-options="gender.id as gender.name for gender in genders"></select>
                                            </td>
                                            <td class="col-xs-2">
                                                <input type="text" class="form-control" ng-model="cat.age">
                                            </td>
                                            <td class="col-xs-4">
                                                <input type="text" class="form-control" ng-model="cat.color">
                                            </td>
                                            <td class="col-xs-2">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="cat.aggressive">Agresiva</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="cat.pregnant">Gestanta</label>
                                                </div>
                                            </td>
                                            <td class="col-xs-1">
                                                <a ng-click="removeCat(cat)"><span class="fa fa-2x fa-trash"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default" ng-click="addCat()">Adauga Pisica</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-lg-offset-3 col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="updateRequest()">Confirma Cerere</button>
                </div>
            </div>
        </form>
    </div>
</div>
