<div class="modal-header">
    <h4 class="modal-title">{{ addNew ? 'Cazare Noua' : 'Modifica Cazare' }}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="editForm">
        <div class="form-group">
            <label class="control-label col-sm-2">Nume</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="acc.name" ng-required="true" placeholder="Nume">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Telefon</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" ng-model="acc.phone" ng-required="true" ui-mask="(999) 999-9999">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Locuri</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="acc.total_places" min="1" ng-required="true" max="100">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Locatie</label>
            <div class="col-sm-10">
                <location-input ng-model="acc.location" ng-required="true"></location-input>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!editForm.$dirty || editForm.$invalid" ng-click="save()">Salvati</button>
    <button class="btn btn-warning" ng-click="cancel()">Anulare</button>
</div>