node_modules/*
bower_components/*
src/vendor/*
build/*
src/**/*.js
src/**/**/*.js
src/**/*.map
src/**/*.css
test/**/*.js
test/**/*.map
/Web.Debug.config

/Gruntfile.js
/Gruntfile.min.js
/Gruntfile.min.js.map

/WebEssentials-Settings.json

/Gruntfile.js.map

.sass-cache/*

